body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('fon 2.webp') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон для лучшего читаемости */
    padding: 20px;
    border-radius: 10px;
}

header {
    text-align: center;
}

.logo {
    width: 100px; /* Измените по необходимости */
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

.dish-photo {
    display: block;
    margin: 20px auto;
    width: 100%; /* Можете изменить размер под ваши нужды */
    height: auto;
}

ul, ol {
    margin: 10px 0;
}

li {
    margin: 5px 0;
}