header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(131, 140, 143, 0.425); /* Прозрачный фон с альфа-каналом */
  color: #000000; /* Цвет текста */
  padding: 50px;
}

.log1 img {
  max-width: 100%; /* Ограничивает ширину */
  height: auto; /* Сохраняет пропорции */
  margin-top: -20px; /* Поднимает изображение на 10 пикселей */
} 

button {
  background-color: #151615; /* Цвет фона кнопки */
  color: white; /* Цвет текста кнопки */
  border: none; /* Убирает рамку */
  padding: 15px 32px; /* Отступы внутри кнопки */
  text-align: center; /* Выравнивание текста */
  text-decoration: none; /* Убирает подчеркивание */
  display: inline-block; /* Позволяет задавать размеры */
  font-size: 16px; /* Размер шрифта */
  font-family: 'Times New Roman', serif; /* Шрифт для кнопки */
  margin: 4px 2px; /* Отступы вокруг кнопки */
  cursor: pointer; /* Курсор при наведении */
  border-radius: 4px; /* Скругление углов */
  
}

body {
  font-family: 'Times New Roman', sans-serif; /* Задает шрифт для всего тела страницы */
}

.title, .welcome {
  font-family: 'Times New Roman', serif; /* Задает другой шрифт для заголовков */
}


.title {
    font-size: 40px;
  }
  
.welcome {
  font-size: 45px;
  font-weight: bold;
  margin: 0px 200 0 50px;
  }
  
img{
    width: 150px;     
    height: 100px;
    position:absolute;
    top:30px;
    right:30px;
  }

  /*.dropdown {
    position: relative;
    display: inline-block;
    margin: 5 5px;
  }*/
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;/*ширина выподающего списка*/
    box-shadow: 50px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 20px 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .content {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    
  }
  
  .dropdown-container {
    margin: 5 5px;
  }
  .dropbtn {
    width: 150px;
    height: 50px;
  }

  input::-webkit-input-placeholder {
    color: #B6C0A5; 
    font-style: italic; 
    background: #E0EFCA;
  }
  input:-moz-placeholder {
    color: #B6C0A5; 
    font-style: italic; 
    background: #E0EFCA;
  }
  input:-ms-input-placeholder {
    color: #B6C0A5; 
    font-style: italic; 
    background: #E0EFCA;
    
  }
  .submit{
    width: 110px;
    height: 34px;
  }
  .forma{
    width: 110px;
    height: 34px;
  }
  .s{
    width: 110px;
    height: 20px;
  }

  body {
		background: #000 url(fon.jpg); /* Фоновый цвет и фоновый рисунок */
    color: #fff; /* Цвет текста на странице */
    background-attachment: fixed; /* Фон страницы фиксируется */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-size: cover; /* Изображение растягивается, чтобы покрыть весь фон */
    background-position: center; /* Центрирует изображение */
	}